body {
    font-family: 'Trebuchet MS';
    background-image: url("https://cdn.wallpapersafari.com/40/53/jN3RMF.jpg");
    background-repeat: no-repeat;
}

h1 {
    font-weight: 800;
}

.container {
    height: 650px;
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}